<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094620374557-b5qi4m8svj6uvsn0cmuoopmrqo486oig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094620374557-b5qi4m8svj6uvsn0cmuoopmrqo486oig</string>
	<key>API_KEY</key>
	<string>AIzaSyBzwQ1m0F5yoZ6CEXuiI5yRM0IzoDARHUI</string>
	<key>GCM_SENDER_ID</key>
	<string>1094620374557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.malakoipechyva.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-f97f0</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-f97f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094620374557:ios:ce8b0a0ed15f19900e08f4</string>
</dict>
</plist>